name: CI

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  CI:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Run tests
        run: ./gradlew test

      - name: Report tests
        uses: allegro-actions/junit-reporter@v1
        if: ${{ success() || failure() }}
        with:
          path: '**/build/test-results/**/TEST-*.xml'

      - name: Report code coverage
        run: ./gradlew jacocoTestReport && bash <(curl -s https://codecov.io/bash)
